
:root {
   
    --grafite: #2b2b2b;
    --kraft: #d7c9b7;
    --laranja: #d35400;
    --branco: #FFFFFF;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}



body {
    
    background-color: var(--laranja);
}


section {

    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
  

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--kraft); 

}



.header section {

    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.navbar a {

    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--laranja);
}

.navbar a:hover {
    color: var(--branco);
    border-bottom: #FFFFFF 0.1rem solid;
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
}


.content-padding {
    padding-top: 12rem; 
    color: var(--branco);
    text-align: center; 
}

.content-padding a {
    color: var(--kraft);
    font-size: 2rem; 
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}
